<div class="row">
  <div class="column">
    <%= link_to edit_component_path, class: "button" do %>
      <%= icon "image" %>
      <%= t(".embed") %>
    <% end %>
  </div>

  <% unless current_peertube_user_valid? %>
    <div class="column">
      <%= link_to new_peertube_session_path, class: "button" do %>
        <%= icon "person" %>
        <%= t(".link_account") %>
      <% end %>
    </div>
  <% end %>
</div>

<% if current_peertube_user_valid? %>
  <div class="card">
    <div class="card-divider">
      <h2 class="card-title">
        <%= t(".account") %>
      </h2>

      <div class="button--title">
        <%= link_to peertube_sessions_path, method: :delete, class: "button tiny" do %>
          <%= icon "x" %>
          <%= t(".remove_account") %>
        <% end %>
      </div>

      <div class="button--title">
        <%= link_to new_peertube_session_path, class: "button tiny" do %>
          <%= icon "person" %>
          <%= t(".change_account") %>
        <% end %>
      </div>
    </div>

    <div class="card-section">
      <dl>
        <dt>
          <%= t(".username") %>:
        </dt>
        <dd>
          <%= current_peertube_user.peertube_username %>
        </dd>

        <dt>
          <%= t(".channels") %>:
        </dt>
        <dd>
          <%= render partial: "channels" %>
        </dd>
      </dl>
    </div>
  </div>
<% end %>

<pre>

A) embed video

B) ?

C) button to create live video

C.0 user has decidim_peertube_user associated?
  YES: has access token?
    NO --> C.1
    YES --> C.2
  NO --> C.1

C.1 Login with peertube to save/update user's access token for API

C.2 Show user channels ---> ask to choose one to create new live video

C.3 Create new live video and return info to user:
{
    "rtmpUrl": "string",
    "rtmpsUrl": "string",
    "streamKey": "string"
}

</pre>
