<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t(".title") %>
    </h2>
    <div class="button--title">
      <%= link_to "back", "#", class: "button tiny" %>
    </div>
    <div class="button--title">
      <%= link_to "1", "#", class: "button tiny" %>
    </div>
  </div>
  <div class="card-section">
    <dl>
      <dt>
        <%= t(".videos") %>:
      </dt>
      <dd>
        <%= current_peertube_user.peertube_username %>
      </dd>
      <dt>
        <%= t(".channels") %>:
      </dt>
      <dd>
        <%= render partial: "channels" %>
      </dd>
    </dl>
  </div>
</div>
<% end %>
